*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(11, 0, 112);
    color: yellow;
}
.iframe_nav{
    width: 100%;
    border-style: none;
    position: fixed;
}
.div_bloque1{
    display: inline-block;
    height: 500px;
    box-sizing: border-box;
    
}
.div_caja_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: solid yellow 2px;
    
}

.div_caja{
    width: 350px;
    height: 350px;
    margin-left: 50px;
    display: inline-block;
    margin-top: 150px;
}


.div_caja_b{
    display: inline-block;
    margin-left: 5px;
    padding-top: 10px;
    
}

.div__bloque2{
    display: inline-block;
    height: 700px; 
    
}

.No_Pagina{
    display: inline-block;
    margin-left: 800px;
         
}

.iframe_footer{
    width: 100%;
    
}
input{
    display: inline-block;
    margin: 0 auto;
    border: solid yellow 1px;
    width: 35px;
    border-radius: 3px;
}
.div_caja_img_etiqueta{
    text-align: center;
    
}
