/*===============Propiedades Globales================*/
.yellow{
    color: yellow !important;
}

.seccion-oscura {
    background-color: rgba(10, 2, 83, 0.938);
    color: white;
}
.titulo {
    font-size: 1.6rem;
    margin: 10px 0;
}

body {
    overflow-x: hidden;
}

iframe {
    width: 100%;
   
}


/*===================SLIDER DE IMAGENES==========================*/
.carousel-inner {
    max-height:35rem !important;
    
}

.carousel-inner .carousel-item {
    width: 100%;
   
    

}

.bienvenida-container-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-width: 400px;
    
}

.bienvenida-img{
    margin: 0 auto;
    min-width: 70%;
    
}


/*================SECCION PRINCIPAL (HERO)============================*/
.seccion-hero {
    min-height: 600px;
}

.container-btn-hero button {
    margin: 0 auto;
}

.container-btn-hero {
    display: flex;
    padding: 20px;
}


/*================PIE DE PAGINA============================*/
footer {
    width: 100%;

}
.pie-pagina {
    min-height: 200px;
    
}

/*=================PANTALLAS PEQUEñAS============================*/


@media ( max-width: 760px) {
    /* .seccion-productos {
        width: 100% !important;

    } */
/* 
    body{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        overflow-x: hidden;
        
    } */
    
   

    




}