*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(11, 0, 112);
}
.iframe_nav{
    width: 100%;
    border-style: none;
    position: fixed;
    
}

img{
    margin-top: 150px;
    margin-left: 40px;
    width: 350px;
    height: 300px;
}

.div__bloque2{
    margin-top: -90px;
}
b{
    display: inline-block;
    margin-left: 170px;
    color: yellow;
}
.No_Pagina{
    display: inline-block;
    margin-left: 600px;
    margin-top: 60px;
    color: yellow;
}

a{
    color: yellow;
}

.iframe_footer{
    width: 100%;
   
}
.iframe_productos{
    width: 100%;
}

