/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(24, 16, 92, 0.845);
    
}

.navbar {
    color: #efef06;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;   
}

.navbar .logo {
    font-size: 20px;
}

.logo {
    flex-grow: 1;
    margin-left: 10px;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}


.navbar .nav-links li {
    margin: 0 15px;
}
.nav-links li:hover{
    opacity: 0.8;
    border-bottom: solid white 2px;
    transition:ease-out 0.5s ease-in 10s;
    
}

.navbar .nav-links a {
    text-decoration: none;
    color: #efef06;
    font-size: 18px;
}

.navbar .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}
img {
    width: 70px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        position: fixed;
        height: 100vh;
        width: 80%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 1s ease-in-out;
        z-index: 1000;
    }

    .navbar .nav-links li {
        margin: 20px 0;
        border-bottom: solid white 1.5px;
    }

    .navbar .hamburger {
        display: block;
    }

    .menu-toggle:hover ~ .nav-links {
        left: 0;
        transition: left 1s ease-in-out;
        
    }
    
} */

/*===================MENU==========================*/

.navbar {
    background-color: rgba(10, 2, 83, 0.938);
    /* margin-bottom: 20px; */
}

.logo {
    display: flex;
    width: 80px;
    height: 60px;
    border-radius: 50%;
}

h1 {
    color: yellow !important;
}

.nav-item a {
    color: yellow !important;
    
}


.navbar .navbar-toggler{
    background: yellow;
}

.nav-ul  {
    margin-left: auto;
    padding-right: 50px;    
}




