*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display:inline;

}
body{
    display: flex;
    flex-direction: column;
    background-color:  #f0f0f0;
    
   
}
.flexContainer{
   margin: 100px 5px 5px 5px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    border: inset 5px;
    height: 90vh;
    gap: 100px;
   
}
.iframe_nav{
    width: 100vw;
    height: 70px;
    border-style: none;
    position: fixed;
    
}
h2 {
   text-align: center;   
   border: inset 5px;
   padding: 5px;
   margin-bottom: 50px;
   
    
}
.div_bloque1{
    box-sizing: border-box;
    text-align: center;
    
}

.div_caja_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: inset 3px;
}

.div_caja{
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
  
}

.div_caja_b{
    display: inline-block;
    margin-left: 5px;
    padding-top: 20px;
}


.No_Pagina{
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 50px;
         
}

input{
    display: inline-block;
    margin: 0 auto;
    border: solid black 1px;
    width: 35px;
    height: 18px;
    border-radius: 3px;
}
.div_caja_img_etiqueta{
    text-align: center;
    
}
a{
    padding: 1px;
}

.iframe_footer{
    width: 100%;
    height: 40px;
    display: block;
    bottom: 0;
    
    
}



@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        align-content: center;
        justify-content: center;
        
    }
    .flexContainer {
        width: 95vw;
        height: auto;
        
    }
    
   .div_caja {
   
    width: 200px;
    height: 200px;
    margin: 20px auto;
   }
   
   header:hover {
        .iframe_nav {
            display:inline;
            height: 250px;
           transition: 2s ease-in-out;
           
        }
       
   }

}