*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.iframe_nav{
    width: 100%;
    height: 250px;
    margin-bottom: 0;
}

body {
    font-family: Arial, sans-serif;
   
}
.flexContainer{
  height: 99vh;
 
  
}
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80vh;
    overflow-x: hidden;
    
    
}

h1 {
    text-align: center;
    color: #333;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info h2 {
    color: #555;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.social-media a {
    text-decoration: none;
    color: #007bff;
}

.comments-section h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea{
    resize: none;
}

button {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.comments-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.comment-card {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    word-wrap: break-word;
    
    
}


.iframe_footer{
    width: 100%;
    

}

@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        overflow-x: hidden;
        
    }

    .navbar-toggler:hover {
        height: 200px;
        background-color: palevioletred;
    }

    .navbar-toggler-icon {
        
    }
    .navbar-toggler-icon:hover {
        background-color: pink;
    }
   
   

}
