*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
body{
    background-color:  #f0f0f0;
}
.iframe_nav{
    width: 100%;
    height: 80px;
        
}
header{
    overflow: hidden;
}
.flexContainer{
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: inset 5px;
    
}

h2{
    border: inset 5px;
    margin-top: 25px;
}
.div_nosotros{
    width: 800px;
    
}
h3{
    font-size: 20px;
    
}
.div_vision{
    width: 900px;
    margin-top: 50px;
   text-align: center;
}
.div_mision{
    margin-top: 100px;
    padding: 20px;
    width: 800px;
    padding: 10px;
    text-align: center;
    
}
p {
    margin-top: 20px;
}
footer{   
    bottom: 0;
    position: fixed;
}
.iframe_footer{
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;

}



@media (max-width: 768px) {
    body{
        
        display: flex;
        flex-direction: column;
        
        align-content: center;
        justify-content: center;
        overflow-x: hidden;

    }
    .flexContainer{
        overflow-x: hidden;
        margin-bottom: 100px;
    }
    .div_vision{
        width: 250px;
        margin: 50px 5px auto;
        text-align:center;
       
    }
    .div_mision{
        margin-top: 50px;
        padding: 20px;
        width: 250px;
        padding: 10px;
        text-align: center;
        
    }
   
   header:hover {
        .iframe_nav {
            display:inline;
            height: 250px;
           transition: 2s ease-in-out;
           
        }
       
   }


}
