* {
    background-color: rgba(10, 2, 83, 0.938);
    color: yellow;
    overflow: hidden;
}

.iconos-redes i {
    font-size: 30px;
    margin-left: 20px;
    padding: 10px;
    border: none;

}

.iconos-redes i:hover {
    color: white;
    transition: all 2ms ease-in-out;
} 

.derechos-autor {
    text-align: center;
    padding-bottom: 50px;
    height: 50px;
    margin-bottom: 50px;


}