*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
body{
    background-color:  #f0f0f0;
    
}
.iframe_nav{
    width: 100%;
    height: 70px;
    position: fixed;

}
header{
    overflow: hidden;
}
.flexContainer{
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: inset 5px;
    
}
.flexContainer {
    height: 100vh;

}
h2{
    border: inset 5px;
    margin-top: 80px;
    display: block;
}
img {
    width: 200px;
    height: 150px;
    margin-top: 50px;
    border-radius: 20px;
}
.div_nosotros{
    width: 800px;
    
}
h3{
    font-size: 20px;
    
}
.div_vision{
    width: 900px;
    margin-top: 50px;
   text-align: center;
}
.div_mision{
    margin-top: 100px;
    padding: 20px;
    width: 800px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    
    
}
p {
    margin-top: 20px;
    
}

.iframe_footer{
    width: 100%;
    height: 40px;
    display: block;
    bottom: 0;

}


@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        

    }
    .flexContainer{
        font-size: 12px;
        text-align: center;
        height: auto;
        height: 100vh;
        overflow-x: hidden;
        
    }
    img {
        width: 40vw;
        height: auto;
        margin-top: 10px;
    }
    .div_vision{
        width: 85vw;
        margin: 50px auto;
        text-align:center;
       
    }
    .div_mision{
        margin-top: 5px;
        padding: 10px;
        width: 85vw;
        text-align: center;
           
    }
   
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 15px;
    }
   
   header:hover {
        .iframe_nav {
            display:inline;
            height: 250px;
           transition: 2s ease-in-out;
           
        }
       
   }

   
}
