*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(17, 165, 215);
}
.div__nav{
    border: solid yellow 0.125em;
    border-radius: 0.5em;
    height: 7.5em;
    width: 101em;
    position: fixed;
    margin-left: 0.3125em;
   
    
    
    
}
.div__nav-logo{
    display: inline-block;
    width: 9.375em;
    height: 6.25em;
    margin-left: 0.625em;
    margin-top: 0.25em;
    border-radius: 0.625em;

    
}

h1::first-letter{
    font-size: 85px;
}
.div__nav h1{
    font-size: 3.5em;
    color: yellow;
    margin-left: 3.3em;
    margin-top: -1.8em;
    text-shadow: 0.15em 0.01em 0em black;
}
input{
    display: block;
    margin-left: 760px;
    margin-top: -35px;
    width: 260px;
    height: 35px;
    border: solid yellow 0.5px;
    
}
input::placeholder{
    color: yellow;
    opacity: 0.7;
    
}
input:hover{
    opacity: 1;
    color: yellow;
    font-size: 20px;
    outline-style: solid 2px;
    outline-color: yellow;
}
input:active{
   
}

.nav__principal-ul{
    display: block;
    margin-left: 41em;
    list-style-type: none;
    font-size: 1.5625em;
    margin-top: -1.815em;
    
}
.nav__principal-ul li{
    color: yellow;
    display: inline-block;
    margin-left: 1.8em;
      
}
li:hover{
    color: darkblue;
    transition: all 2s;
}

.img1{
    width: 500px;
    height: 400px;
    margin-top: 130px;
    margin-left: 10px;
    margin-bottom: 40px;
    border: solid 2px yellow;
        
}
.bloque1{
    
}

.aside__div-p{
    
    width: 600px;
    height: 200px;
    margin-left: 550px;
    margin-top: -320px;
    color: yellow;
}
.aside__div-ul{
    margin-left: 570px;
    margin-top: -100px;
    color: yellow;
    

}
.img2{
    width: 500px;
    height: 400px;
    margin-top: -150px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.article-2-p{
    display: inline-block;
    color: yellow;
    margin-left: 550px;
    margin-top: 200px;
}

.a_link{  
    display: inline-block;
    margin-top: 500px;
    margin-left: 100px;
}





footer{
    background-color: blue;
    color: yellow;
    text-align: center;
    margin-top: 10px;
}
