*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(11, 0, 112);
}
.div__nav{
    border: solid yellow 0.125em;
    border-radius: 0.5em;
    height: 6.5em;
    width: 99.5%;
    position: fixed;
    margin-left: 0.3125em;
    
}
.div__nav-logo{
    display: inline-block;
    width: 8em;
    height: 5.5em;
    margin-left: 0.625em;
    margin-top: 0.25em;
    border-radius: 0.625em;
   
}

h1::first-letter{
    font-size: 70px;
}
.div__nav h1{
    font-size: 2.5em;
    color: yellow;
    margin-left: 4em;
    margin-top: -2.2em;
    text-shadow: 0.25em 0.1em 0.5em black;
}
input{
    display: block;
    margin-left: 650px;
    margin-top: -35px;
    width: 260px;
    height: 35px;
    border: solid yellow 0.5px;
    
}
input::placeholder{
    color: yellow;
    opacity: 0.7;
    
}
input:hover{
    opacity: 1;
    color: yellow;
    font-size: 20px;
    outline-style: solid 2px;
    outline-color: yellow;
}
.nav__principal-ul{
    display: block;
    margin-left: 39em;
    list-style-type: none;
    font-size: 1.50em;
    margin-top: -1.815em;
    
}
.nav__principal-ul li{
    color: yellow;
    display: inline-block;
    margin-left: 1.8em;
      
}
li:hover{
    color: darkblue;
    transition: all 2s;
}
