*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(24, 16, 92, 0.845);
}
.footer{
    color:yellow;
    font-size: 15px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center; 
     
    
}